<div class="cancel-container">
    <div class="cancel-card">
        <div class="icon-circle">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="x-icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </div>
        <h1>Pago cancelado</h1>
        <p>El proceso de pago ha sido cancelado o ha ocurrido un error. No se ha realizado ningún cargo.</p>
        <a routerLink="/roles" class="btn-roles">Volver a planes</a>
    </div>
</div>