<div *ngIf="isLoading" class="loading-container">
    <p>Cargando ejercicio...</p>
</div>

<app-multiple-choice *ngIf="!isLoading && exercise && exercise.type === 'multiple_choice'" [exercise]="exercise"
    (close)="goBack()" (attemptSubmitted)="handleAttemptSubmission($event)">
</app-multiple-choice>

<app-conditionals *ngIf="!isLoading && exercise && exercise.type === 'conditionals'" [exercise]="exercise"
    (close)="goBack()" (attemptSubmitted)="handleAttemptSubmission($event)">
</app-conditionals>

<app-vocabulary *ngIf="!isLoading && exercise && exercise.type === 'vocabulary'" [exercise]="exercise"
    (close)="goBack()" (attemptSubmitted)="handleAttemptSubmission($event)">
</app-vocabulary>

<app-gap-fill *ngIf="!isLoading && exercise && exercise.type === 'gap_fill'" [exercise]="exercise" (close)="goBack()"
    (attemptSubmitted)="handleAttemptSubmission($event)">
</app-gap-fill>

<app-word-formation *ngIf="!isLoading && exercise && exercise.type === 'word_formation'" [exercise]="exercise"
    (close)="goBack()" (attemptSubmitted)="handleAttemptSubmission($event)">
</app-word-formation>

<app-key-word-transformation *ngIf="!isLoading && exercise && exercise.type === 'key_word_transformation'"
    [exercise]="exercise" (close)="goBack()" (attemptSubmitted)="handleAttemptSubmission($event)">
</app-key-word-transformation>

<app-essay *ngIf="!isLoading && exercise && (exercise.type === 'essay' || exercise.type === 'writing')"
    [exercise]="exercise" (close)="goBack()" (attemptSubmitted)="handleAttemptSubmission($event)">
</app-essay>

<app-reading-multiple-choice *ngIf="!isLoading && exercise && exercise.type === 'reading_multiple_choice'"
    [exercise]="exercise" (close)="goBack()" (attemptSubmitted)="handleAttemptSubmission($event)">
</app-reading-multiple-choice>